<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test website</title>
  </head>
  <body>
    <nav>
      <img src="./images/tripQuestLogo.png" alt="Logo" class="logo" />
      <div class="mid__links">
        <div class="link__container"><a href="#">Home</a></div>
        <div class="link__container"><a href="#">About</a></div>
        <div class="link__container"><a href="#">Plans</a></div>
        <div class="link__container"><a href="#">Destination</a></div>
      </div>
      <div class="end__links">
        <a href="#">Log in</a>
      </div>
    </nav>
    <section class="hero__section">
      <h1 class="hero__text">Find and Book a Great Vacation.</h1>
    </section>
  </body>
</html>
