<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/landing-page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test website</title>
  </head>
  <body>
    <nav>
      <img src="../static/tripQuestLogo.png" alt="Logo" class="logo" /> 
      <div class="mid__links">
        <div class="link__container"><a href="#">Home</a></div>
        <div class="link__container"><a href="#">About</a></div>
        <div class="link__container"><a href="#">Plans</a></div>
        <div class="link__container"><a href="#">Destination</a></div>
      </div>
      <div class="end__links">
        <a href="./login.html">Log in</a>
      </div>
    </nav>
    <section class="hero__section">
      <h1 class="hero__text">Find and Book a Great Vacation.</h1>
      <img src="../static/heroBackground.png" alt="hero__image" class="hero__img">
    </section>


    <section class="booking__field">
      <div class="booking__box">
        <div class="nav__part">
          <div class="container active">
            <p>Flight</p>
          </div>
          <div class="container">
            <p>Hostel</p>
          </div>
          <div class="container">
            <p>Cars</p>
          </div>
        </div>
        <form action="" method="POST">
          <div class="form__part">
            <div class="form__box">
              <div class="logo">

              </div>
              <div class="text">
                <h3>Location</h3>
                <select name="location" id="country">
                  <option value="AFG">Afghanistan</option>
                  <option value="ALB">Albania</option>
                  <option value="DZA">Algeria</option>
                  <option value="ARG">Argentina</option>
                  <option value="AUS">Australia</option>
                  <option value="BGD">Bangladesh</option>
                  <option value="BEL">Belgium</option>
                  <option value="BRA">Brazil</option>
                  <option value="CAN">Canada</option>
                  <option value="CHN">China</option>
                  <option value="COL">Colombia</option>
                  <option value="EGY">Egypt</option>
                  <option value="FRA">France</option>
                  <option value="DEU">Germany</option>
                  <option value="IND">India</option>
                  <option value="IDN">Indonesia</option>
                  <option value="ITA">Italy</option>
                  <option value="JPN">Japan</option>
                  <option value="MEX">Mexico</option>
                  <option value="NLD">Netherlands</option>
                  <option value="NZL">New Zealand</option>
                  <option value="NGA">Nigeria</option>
                  <option value="RUS">Russia</option>
                  <option value="SAU">Saudi Arabia</option>
                  <option value="ZAF">South Africa</option>
                  <option value="KOR">South Korea</option>
                  <option value="ESP">Spain</option>
                  <option value="SWE">Sweden</option>
                  <option value="TUR">Turkey</option>
                  <option value="GBR">United Kingdom</option>
                  <option value="USA">United States</option>
                  <option value="ARE">United Arab Emirates</option>
                  <option value="AUT">Austria</option>
                  <option value="AZE">Azerbaijan</option>
                  <option value="BHR">Bahrain</option>
                  <option value="BGR">Bulgaria</option>
                  <option value="CAF">Central African Republic</option>
                  <option value="CZE">Czech Republic</option>
                  <option value="DNK">Denmark</option>
                  <option value="FIN">Finland</option>
                  <option value="GRC">Greece</option>
                  <option value="HUN">Hungary</option>
                  <option value="IRL">Ireland</option>
                  <option value="ISR">Israel</option>
                  <option value="JOR">Jordan</option>
                  <option value="KEN">Kenya</option>
                  <option value="LBN">Lebanon</option>
                  <option value="MYS">Malaysia</option>
                  <option value="MAR">Morocco</option>
                  <option value="PER">Peru</option>
                  <option value="PHL">Philippines</option>
                  <option value="POL">Poland</option>
                </select>

              </div>
            </div>
            <div class="form__box">
              <div class="logo">

              </div>
              <div class="text">
                <h3>Destination</h3>
                <select name="Destination" id="country">
                  <option value="AFG">Afghanistan</option>
                  <option value="ALB">Albania</option>
                  <option value="DZA">Algeria</option>
                  <option value="ARG">Argentina</option>
                  <option value="AUS">Australia</option>
                  <option value="BGD">Bangladesh</option>
                  <option value="BEL">Belgium</option>
                  <option value="BRA">Brazil</option>
                  <option value="CAN">Canada</option>
                  <option value="CHN">China</option>
                  <option value="COL">Colombia</option>
                  <option value="EGY">Egypt</option>
                  <option value="FRA">France</option>
                  <option value="DEU">Germany</option>
                  <option value="IND">India</option>
                  <option value="IDN">Indonesia</option>
                  <option value="ITA">Italy</option>
                  <option value="JPN">Japan</option>
                  <option value="MEX">Mexico</option>
                  <option value="NLD">Netherlands</option>
                  <option value="NZL">New Zealand</option>
                  <option value="NGA">Nigeria</option>
                  <option value="RUS">Russia</option>
                  <option value="SAU">Saudi Arabia</option>
                  <option value="ZAF">South Africa</option>
                  <option value="KOR">South Korea</option>
                  <option value="ESP">Spain</option>
                  <option value="SWE">Sweden</option>
                  <option value="TUR">Turkey</option>
                  <option value="GBR">United Kingdom</option>
                  <option value="USA">United States</option>
                  <option value="ARE">United Arab Emirates</option>
                  <option value="AUT">Austria</option>
                  <option value="AZE">Azerbaijan</option>
                  <option value="BHR">Bahrain</option>
                  <option value="BGR">Bulgaria</option>
                  <option value="CAF">Central African Republic</option>
                  <option value="CZE">Czech Republic</option>
                  <option value="DNK">Denmark</option>
                  <option value="FIN">Finland</option>
                  <option value="GRC">Greece</option>
                  <option value="HUN">Hungary</option>
                  <option value="IRL">Ireland</option>
                  <option value="ISR">Israel</option>
                  <option value="JOR">Jordan</option>
                  <option value="KEN">Kenya</option>
                  <option value="LBN">Lebanon</option>
                  <option value="MYS">Malaysia</option>
                  <option value="MAR">Morocco</option>
                  <option value="PER">Peru</option>
                  <option value="PHL">Philippines</option>
                  <option value="POL">Poland</option>
                </select>
              </div>
            </div>
            <div class="form__box">
              <div class="logo">

              </div>
              <div class="text">
                <h3>Travelers</h3>
                <select name="travelers" id="travelers">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="form__box">
              <div class="logo">

              </div>
              <div class="text">
                <h3>From</h3>
                <input type="date" id="datepicker" name="fromdate">
              </div>
            </div>
          </div>
          <button type="submit">S</button>
        </form>
      </div>
    </section>
  </body>
</html>
