<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
    <link rel="stylesheet" href="../static/login.css" />
  </head>
  <body>
    <div class="whole__screen">
      <div class="main__container">
       <a href="./landing_page.html"> <img src="../static/tripQuestLogo.png" alt="logo" class="logo" /></a>
        <form method="POST">
          <div class="line"></div>
          <div class="input__container">
            <label for="email">Email</label>
            <input type="mail" placeholder="John.Doe@mail.com" />
          </div>
          <div class="line"></div>
          <div class="input__container"> 
            <label for="email">Password</label>
            <input type="password" placeholder="***********" />
          </div>         
          <div class="line"></div>
          <button type="submit" class="submit__btn">Log in</button>
        </form>
        <p class="registration">Don't yet have an account, we've got you. <a href="./registration.html">Register Here</a></p>
      </div>
      <div class="free__part">
        <img src="../static/Earth-01.png" alt="Earth-01">
      </div>
    </div>
  </body>
</html>
