<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="whole__screen">
      <div class="main__container">
        <a href="/">
          <img src="/tripQuestLogo.png" alt="logo" class="logo"
        /></a>
        <form method="POST" action="/registration">
          <div class="line"></div>
          <div class="input__container">
            <label for="username">FirstName</label>
            <input type="text" placeholder="David" name="firstname" />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="lastname">LastName</label>
            <input type="text" placeholder="Doe" name="lastname" />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="useremail">Email</label>
            <input
              type="mail"
              placeholder="David.Doe@mail.com"
              name="usermail"
            />
          </div>
          <div class="line"></div>
          <div class="input__container">
            <label for="password">Password</label>
            <input type="password" placeholder="***********" name="password" />
          </div>
          <div class="line"></div>
          <button type="submit" class="submit__btn">Register</button>
        </form>
      </div>
      <div class="free__part">
        <img src="/Earth-01.png" alt="Earth-01" />
      </div>
    </div>
  </body>
</html>
