<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="ticket.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="nav__part">
      <h1>tripQuest.</h1>
      <div class="profile">
        <h4>user</h4>
      </div>
    </section>
    <section class="main__part">
      <div class="ticket__body">
        <div class="ticket__left">
          <h1 class="hidden">tripQuest</h1>
          <div class="heading">
            <h3>Logo</h3>
            <h4>BOARDING PASS</h4>
          </div>
          <div class="ticket__information">
            <div class="ticket__information_bank">
              <div class="bank">
                <div class="part">
                  <div class="label">Name:</div>
                  <div class="text">Odun Kadiri</div>
                </div>
              </div>
              <div class="bank type__2">
                <div class="part">
                  <div class="label">From:</div>
                  <div class="text">LOS</div>
                </div>
                <div class="part">
                  <div class="label">Carrier:</div>
                  <div class="text">Air Atlantic</div>
                </div>
              </div>
              <div class="bank type__3">
                <div class="part">
                  <div class="label">To:</div>
                  <div class="text">LAX</div>
                </div>
                <div class="part">
                  <div class="label">Date:</div>
                  <div class="text">20-03-23</div>
                </div>
                <div class="part">
                  <div class="label">Time:</div>
                  <div class="text">15:08</div>
                </div>
              </div>
              <div class="bank type__3">
                <div class="part">
                  <div class="label">Flight:</div>
                  <div class="text">L3345 X</div>
                </div>
                <div class="part">
                  <div class="label">Gate:</div>
                  <div class="text">03</div>
                </div>
                <div class="part">
                  <div class="label">Board Till:</div>
                  <div class="text">15:08</div>
                </div>
              </div>
            </div>
            <div class="barcode">
              <img src="./images/barcode.png" alt="barcode" />
            </div>
          </div>
        </div>
        <div class="ticket__right">
          <div class="heading">
            <h4>BOARDING PASS</h4>
          </div>

          <div class="right__information">
            <div class="bank">
              <div class="part">
                <div class="label">Passenger Name:</div>
                <div class="text">Odun Kadiri</div>
              </div>
            </div>
            <div class="bank">
              <div class="part">
                <div class="label">From:</div>
                <div class="text">LOS</div>
              </div>
            </div>
            <div class="bank">
              <div class="part">
                <div class="label">To:</div>
                <div class="text">LAX</div>
              </div>
            </div>
            <div class="bank type__2">
              <div class="part">
                <div class="label">Time:</div>
                <div class="text">03:06</div>
              </div>
              <div class="part">
                <div class="label">Board Till:</div>
                <div class="text">15:08</div>
              </div>
            </div>
            <div class="bank type__2">
              <div class="part">
                <div class="label">Gate:</div>
                <div class="text">22</div>
              </div>
              <div class="part">
                <div class="label">Flight:</div>
                <div class="text">L3345</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
